body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    background-color: whitesmoke;
}

header, footer, article {
    padding: 1em;
}

header {
    background-repeat: repeat-y;
    background-size: inherit;
}

.col-1 {
    background: #D7E8D4;
    flex: 1;
    background-image: url(../img/background-image.jpg);
}

.col-2 {
    flex-direction: column;
    flex: 5;
}

#logo {
    width: 100px;
    align-self: center;
}

.title {
    border-radius: 10px;
    border: double 7px;
    border-color: #186664;
    text-align: center;
    background-color: yellowgreen;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: start;
    padding: 0;
    background: #D7E8D4;
    font-family: sans-serif;
}

nav>a {
    padding: 10px;
    text-align: center;
    flex: 1;
    text-decoration: none;
    margin: 0px;
    font-size: 16px;
    color: white;
    background-color: #186664;
}

.activecolor, nav>a:hover {
    background-color: #A0C261;
}

article {
    flex: 3;
    min-height: 80vh;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

article>div {
    flex: 1;
}

.about-main {
    display: block;
}

.about-main>div {
    margin: 30px;
    border-radius: 5px;
    border: 5px double #186664;
}

.about-main>div>h3 {
    color: #186664;
    text-decoration: underline;
}

.image-index {
    height: 200px;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    margin-top: 60px;
}

.grid-container>div>img {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    height: 100%;
    width: 100%;
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

.grid-container>div>img {
    border: 2px double #186664;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.grid-container>div>img:hover {
    transform: scale(2);
}

.grid-container>div:nth-child(1) {
    grid-column: 2 / span 2;
}

.grid-container>div:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

.grid-container>div:nth-child(4) {
    grid-column: 2 / span 2;
}

.grid-container>div:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
}

.grid-container>div:nth-child(8) {
    grid-column: 2 / span 2;
}

#gallery>article>.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

#game-info-article {
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

td, th {
    border: double #186664;
    padding: 5px;
    color: black;
}

th {
    background-color: #186664;
    color: white;
}

#game-info-article {
    flex-direction: row;
}

#game-locations-table {
    margin-top: 20px;
}

.schedule-table {
    margin-top: 20px;
    min-height: 80vh;
}

footer {
    background: #186664;
    color: whitesmoke;
    min-height: 4vh;
}

footer>p>a {
    color: white
}

.rules {
    text-align: initial;
}

#number-of-players {
    list-style: square;
}

ul {
    list-style: square;
}

#all-play-list>li {
    list-style: circle;
}

article>dl>dt {
    background-color: #186664;
    color: white;
}

article>dl>dd {
    border: double 2px #186664;
    margin: 0;
}